In [5]:
import pandas as pd
pd.read_csv('C:\\Users\\George.Macharia\Downloads\\estimated_numbers.csv')

,Country,Year,No. of cases,No. of deaths,No. of cases_median,No. of cases_min,No. of cases_max,No. of deaths_median,No. of deaths_min,No. of deaths_max,WHO Region
0,Afghanistan,2017,630308[495000-801000],298[110-510],630308,495000.0,801000.0,298,110.0,510.0,Eastern Mediterranean
1,Algeria,2017,0,0,0,NaN,NaN,0,NaN,NaN,Africa
2,Angola,2017,4615605[3106000-6661000],13316[9970-16600],4615605,3106000.0,6661000.0,13316,9970.0,16600.0,Africa
3,Argentina,2017,0,0,0,NaN,NaN,0,NaN,NaN,Americas
4,Armenia,2017,0,0,0,NaN,NaN,0,NaN,NaN,Europe
...,...,...,...,...,...,...,...,...,...,...,...
851,Venezuela (Bolivarian Republic of),2010,57257[47000-74000],52[9-90],57257,47000.0,74000.0,52,9.0,90.0,Americas
852,Viet Nam,2010,23062[21000-26000],45[2-80],23062,21000.0,26000.0,45,2.0,80.0,Western Pacific
853,Yemen,2010,1134927[611000-2686000],2874[90-8490],1134927,611000.0,2686000.0,2874,90.0,8490.0,Eastern Mediterranean
854,Zambia,2010,2169307[1449000-3095000],6544[5580-7510],2169307,1449000.0,3095000.0,6544,5580.0,7510.0,Africa
855,Zimbabwe,2010,1095083[606000-1717000],2803[80-6190],1095083,606000.0,1717000.0,2803,80.0,6190.0,Africa

In [6]:
import pandas as pd
pd.read_csv('C:\\Users\\George.Macharia\Downloads\\estimated_numbers.csv')

,Country,Year,No. of cases,No. of deaths,No. of cases_median,No. of cases_min,No. of cases_max,No. of deaths_median,No. of deaths_min,No. of deaths_max,WHO Region
0,Afghanistan,2017,630308[495000-801000],298[110-510],630308,495000.0,801000.0,298,110.0,510.0,Eastern Mediterranean
1,Algeria,2017,0,0,0,NaN,NaN,0,NaN,NaN,Africa
2,Angola,2017,4615605[3106000-6661000],13316[9970-16600],4615605,3106000.0,6661000.0,13316,9970.0,16600.0,Africa
3,Argentina,2017,0,0,0,NaN,NaN,0,NaN,NaN,Americas
4,Armenia,2017,0,0,0,NaN,NaN,0,NaN,NaN,Europe
...,...,...,...,...,...,...,...,...,...,...,...
851,Venezuela (Bolivarian Republic of),2010,57257[47000-74000],52[9-90],57257,47000.0,74000.0,52,9.0,90.0,Americas
852,Viet Nam,2010,23062[21000-26000],45[2-80],23062,21000.0,26000.0,45,2.0,80.0,Western Pacific
853,Yemen,2010,1134927[611000-2686000],2874[90-8490],1134927,611000.0,2686000.0,2874,90.0,8490.0,Eastern Mediterranean
854,Zambia,2010,2169307[1449000-3095000],6544[5580-7510],2169307,1449000.0,3095000.0,6544,5580.0,7510.0,Africa
855,Zimbabwe,2010,1095083[606000-1717000],2803[80-6190],1095083,606000.0,1717000.0,2803,80.0,6190.0,Africa

In [7]:
import pandas as pd
data_frame=pd.read_csv('C:\\Users\\George.Macharia\Downloads\\estimated_numbers.csv')
data_frame.shape

(856, 11)

In [9]:
import pandas as pd
data_frame=pd.read_csv('C:\\Users\\George.Macharia\Downloads\\estimated_numbers.csv')
data_frame.describe

<bound method NDFrame.describe of                                 Country  Year              No. of cases  \
0                           Afghanistan  2017     630308[495000-801000]
1                               Algeria  2017                         0
2                                Angola  2017  4615605[3106000-6661000]
3                             Argentina  2017                         0
4                               Armenia  2017                         0
..                                  ...   ...                       ...
851  Venezuela (Bolivarian Republic of)  2010        57257[47000-74000]
852                            Viet Nam  2010        23062[21000-26000]
853                               Yemen  2010   1134927[611000-2686000]
854                              Zambia  2010  2169307[1449000-3095000]
855                            Zimbabwe  2010   1095083[606000-1717000]

         No. of deaths  No. of cases_median  No. of cases_min  \
0         298[110-510]               630308          495000.0
1                    0                    0               NaN
2    13316[9970-16600]              4615605         3106000.0
3                    0                    0               NaN
4                    0                    0               NaN
..                 ...                  ...               ...
851           52[9-90]                57257           47000.0
852           45[2-80]                23062           21000.0
853      2874[90-8490]              1134927          611000.0
854    6544[5580-7510]              2169307         1449000.0
855      2803[80-6190]              1095083          606000.0

     No. of cases_max  No. of deaths_median  No. of deaths_min  \
0            801000.0                   298              110.0
1                 NaN                     0                NaN
2           6661000.0                 13316             9970.0
3                 NaN                     0                NaN
4                 NaN                     0                NaN
..                ...                   ...                ...
851           74000.0                    52                9.0
852           26000.0                    45                2.0
853         2686000.0                  2874               90.0
854         3095000.0                  6544             5580.0
855         1717000.0                  2803               80.0

     No. of deaths_max             WHO Region
0                510.0  Eastern Mediterranean
1                  NaN                 Africa
2              16600.0                 Africa
3                  NaN               Americas
4                  NaN                 Europe
..                 ...                    ...
851               90.0               Americas
852               80.0        Western Pacific
853             8490.0  Eastern Mediterranean
854             7510.0                 Africa
855             6190.0                 Africa

[856 rows x 11 columns]>

In [10]:
data_frame.values

array([['Afghanistan', 2017, '630308[495000-801000]', ..., 110.0, 510.0,
        'Eastern Mediterranean'],
       ['Algeria', 2017, '0', ..., nan, nan, 'Africa'],
       ['Angola', 2017, '4615605[3106000-6661000]', ..., 9970.0, 16600.0,
        'Africa'],
       ...,
       ['Yemen', 2010, '1134927[611000-2686000]', ..., 90.0, 8490.0,
        'Eastern Mediterranean'],
       ['Zambia', 2010, '2169307[1449000-3095000]', ..., 5580.0, 7510.0,
        'Africa'],
       ['Zimbabwe', 2010, '1095083[606000-1717000]', ..., 80.0, 6190.0,
        'Africa']], dtype=object)

In [ ]:
data_frame["age"].hist()